<!-- <div id="app">
  <div ng-click="$ctrl.hideTag1()">
    <h3>Pen is mightier</h3>
    <h4 ng-show="isTagOneActive" ng-click="$ctrl.displayOverlay()">200</h4>
  </div>
  <div id="overlay"></div>
  <div><h2>{{score}}</h2></div>
</div> -->

<div id="app">
  <div class="categories">
    <div class="category">
      <h3>THE PEN IS</br> MIGHTIER</h3>
      <question-list questions="$ctrl.questions" on-click="$ctrl.displayOverlay"></question-list>
    </div>
    <div class="category">
      <h3>WHO READS</br> </h3>
      <question-list questions="$ctrl.questions" on-click="$ctrl.displayOverlay"></question-list>
    </div>
    <div class="category">
      <h3>MONTHS STARTING</br> WITH "FEB"</h3>
      <question-list questions="$ctrl.questions" on-click="$ctrl.displayOverlay"></question-list>
    </div>
    <div class="category">
      <h3>A SOUND A </br>DOGGIE MAKES</h3>
      <question-list questions="$ctrl.questions" on-click="$ctrl.displayOverlay"></question-list>
    </div>
    <div class="category">
      <h3>WHAT DAY </br>IT IS</h3>
      <question-list questions="$ctrl.questions" on-click="$ctrl.displayOverlay"></question-list>
    </div>
    <div class="category">
      <h3>COLORS THAT END</br> IN "URPLE"</h3>
      <question-list questions="$ctrl.questions" on-click="$ctrl.displayOverlay"></question-list>
    </div>
  </div>
  <div id="overlay"></div>
  <div id="score">
    <h3>Your score:</h3>
    <h2>{{score}}</h2>
    <audio src="song.mp3" autoplay controls></audio>
  </div>
</div>